.row {
  display: contents;
}
.cell {
  background: white;
  display: grid;
  place-items: center;
  padding: 0.5rem;
}
.totalCell {
  background: white;
  display: grid;
  align-items: center;
  justify-items: end;
  padding: 0.5rem;
}
.item {
  background: white;
  padding: 0.25rem;
}
.calendar {
  display: grid;
  grid-template-columns: auto repeat(7, 2rem) max-content;
  grid-auto-rows: 2rem;
  gap: 0.1rem;
  background: black;
  padding: 0.25rem;
  width: min-content;
}

.popOverDetailsList {
  display: grid;
  grid-template-columns: auto max-content;
}

.popOverDetailsList dl {
  margin: 0;
  padding: 0;
}
